*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
.bg-grey{
    background-color: rgb(195 195 195 / 80%);
}
.left_border{
    border-left: 2px solid grey;
}
section{
    padding-top: 60px;
    padding-bottom: 50px;
}
header{
    background-color: rosybrown;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
}
 

.logo{
    width: 60px;
    height: 60px
}
.socialmedia-img{
    height: 20px;
    width: 22px;
}
.login-btn{
    
}
 
ul{
    list-style-type: disc;
    padding-left: 20px;
}

.banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}



 footer{
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}
.contact_btn{
    color: #fff;
    background-color: #60b1ba;
}