.hotels .hotel_item{
    background-color: rgb(132,136,139);
}
.list-view .hotel_detail_list .card-body{
    
}
.map-img{
    width: 90%;
    margin: auto;
    display: block;
}
.hotels_in_city .hotel_info{
    background: #bdbbbbb3;

}
.hotels_in_city .hotel_info:hover{
    background: #bc8f8f;
}
.rating{
    margin: 10px 0px;
}
